/***************/
body{
    font-family: 'playfair', sans-serif;
}

.intro {
    margin: 80px 0;
}
.intro h5{
    color: #717070;
    font-weight: 200;
    letter-spacing: 5px;
}
.intro i{
    font-size: 46px;
    margin-bottom: 18px;
}
.intro h1 {
    font-size: 74px;
    font-weight: 900;
}
.intro h1 span {
    font-style: italic;
    color: #e14f4f;
    font-weight: 800;
    line-height: 1em;
}
.intro p{
    color: #414143;
    font-size: 28px;
    width: 49.8%;
    margin: auto;
}
.intro img {
    margin: 45px;
    border-radius: 20px;
    width: 60%;
}
.playBtn{
    background: url(images/section-video-thumbnail\ .png);
    width: 800px;
    height: 450px;
    border-radius: 20px;
    margin: 45px;
    background-size: cover;
    
}
.playBtn i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e14f4f;
    color: white;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50% ;
    position: relative;
    
}